<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('includes/bootstrapcss.ejs') %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
          <p>Pick a state to veiw local breweries</p>
          <!-- <form action="/states" method="POST">
            <label name="state">Enter your state to view your brews</label>
            <input type="text" name="state" />
            <button type="submit">Search</button> 
          </form> -->
        </div>
      </div>
      <div class="row">
          <% Object.keys(states).forEach( state => { %>
            <div class="col-2">
              <h4><a href="/state/<%= state %>" ><%= states[state].name %> </a> </h4>
        
            </div>
          <% }); %>
          <div class="col">


          </div>

      </div>

    </div>
    <%- include('includes/bootstrapjs.ejs') %>
  </body>
</html>
