<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('includes/bootstrapcss.ejs') %>
  </head>
  <body>

    <div class="container">

      <div class="col">
        <div class="row">
          <%- include('includes/navbar.ejs') %>          

        </div>
        <div class="row">
            <h2><%= title %></h2>
            
            <div class="row">
              
              
              <% brews.forEach( (brew) => { %>

                <div class="card col-3 m-1">
                  <div class="card-header bg-dark text-light">
                    <%= brew.name.length < 20 ? brew.name : brew.name.slice(0,20) + "..." %>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li>City: <%=brew.city %> </li>
                    </ul> 
                    <form action="/users/<%=user.id%>/favorites" method="POST" class="form-group">
                      <input type="hidden" name="breweryId" value="<%= brew.id %>">
                      <button type="submit">Favorite</button>
                    </form>
                  </div>
                </div>
              <% }); %> 
        
              
           </div>

        </div>
      </div>
    </div>
    
  </body>
</html>
