<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('includes/bootstrapcss.ejs') %>
  </head>
  <body>

    <div class="container">

      <div class="col">

        <div class="row">

            <h1><%= title %></h1>
            
            <div class="row">
              
              
              <% brews.forEach( (brew) => { %>

                <div class="card col-3 m-1">
                  <div class="card-body">
                    <div class="card-title">
                      <%= brew.name.length < 20 ? brew.name : brew.name.slice(0,20) + "..." %>
                    </div>
                    <ul>
                      <li>City: <%=brew.city %> </li>
                    </ul> 
                  </div>
                </div>
              <% }); %> 
        
              
           </div>

        </div>
      </div>
    </div>
    
  </body>
</html>
